{{ $name := "" }}
{{ $email := "" }}
{{ $opsecret := "" }}

{{ $name = promptStringOnce . "name" "Name" "Satya Claw" }}
{{ $email = promptStringOnce . "email" "Email Address" "ikoc.satya@gmail.com" }}
{{ $opsignkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIF4UYqiskGP7cVR7itP1HD31BIB/MUm3hdqH+fh13tX2" }}

# ╭──────────────────────────────────────────────────────────╮
# │ CHEZMOI CONFIG                                           │
# ╰──────────────────────────────────────────────────────────╯

follow = true # follow symlinks
sourceDir = {{ .chezmoi.workingTree | quote }}
progress = true

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  editor = "nvim"
  
[hooks.init.pre]
  command = "task"
  args = ["-d", {{- .chezmoi.sourceDir | quote -}}]

[hooks.read-source-state.pre]
  command = "{{- .chezmoi.workingTree -}}/.darwin-install-prerequisites.sh"

[git]
  autoCommit = true
  autoPush = true

[diff]
  pager = "delta"
  exclude = ["scripts", "externals"]

[merge]
  command = "nvim"
  args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
  
[status]
  exclude = ["always"]

[scriptEnv]
  DEFAULTS = "0"
  TRACE = "0"
  VERBOSE = "0"
