#!{{ lookPath "sh" }}

read -p "Going to create working dirs! skip? (y/n): " yn
if [[ "$yn" =~ ^[Yy]$ ]]; then
    echo "Skipping..."
else
    # Check if the repos are already cloned
    if [ ! -d "$HOME/content/openclaw/workspace" ]; then
        mkdir -p "$HOME/content/openclaw"
        git clone git@github.com:satya-claw/workspace.git "$HOME/content/openclaw/workspace"
    fi
fi
  
